/*
 * You can style yout Tic Tac Toe, BUT, you ust rename this file and and change link o your HTML page
 */


 /* :root element to set variables for later use, can alter here to modify appearance?*/
:root {
	--cell-size: 100px;

	--color: #81c3fd; /* light blue for hover */
	--colorX: #e74197; /* for hover X*/
	--color-set: #0275d8; /* blue when set */
	--colorX-set: #6f0404; /* when set X*/ 
	--colorO: #2cf540; /* for hover O*/
	--colorO-set: #078e1f; /* when set O*/

	--l: 10px; /* X line-width */
}

/* margins */
body {
	margin: 0;
}

.board {
	width: 100vw;
	height: 100vh;
	display: grid;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(3, auto)
}

/*Cell Appearance*/
.cell {
	width: var(--cell-size);
	height: var(--cell-size);
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
}

/*Removes the appearance of a Large segmented square by changing border color, thus displaying # */

/* remove border for edges */
.cell:nth-child(1), .cell:nth-child(2), .cell:nth-child(3) {
	border-top: none;
}

.cell:nth-child(1), .cell:nth-child(4), .cell:nth-child(7) {
	border-left: none;
}

.cell:nth-child(3), .cell:nth-child(6), .cell:nth-child(9) {
	border-right: none;
}

.cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9) {
	border-bottom: none;
}


/* no hover affect if cell already has a value enterd: X or O */
/* commenting out this does not do anything ...yet, because had not yet corrected code to allow proper display of X O etc */

.cell.x, .cell.circle {
	cursor: not-allowed;
}

/* Need better description than below */

/* for cross (hover)*/
.board.x .cell:not(.circle):not(.x):hover {
	background: linear-gradient(to top right, transparent calc(50% - var(--l) / 2), var(--colorX) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2)),
				linear-gradient(to bottom right, transparent calc(50% - var(--l) / 2), var(--colorX) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2));
	background-size: 80% 80%;
	background-repeat: no-repeat;
	background-position: center;
}

/* Need better description than below */

/* for cross (set) */
.cell:not(.circle).x {
	background: linear-gradient(to top right, transparent calc(50% - var(--l) / 2), var(--colorX-set) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2)),
				linear-gradient(to bottom right, transparent calc(50% - var(--l) / 2), var(--colorX-set) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2));
	background-size: 80% 80%;
	background-repeat: no-repeat;
	background-position: center;
}


/* Design for circle using radial-gradient */

/* for circle (hover)*/
.board.circle .cell:not(.circle):not(.x):hover {	
	background: radial-gradient(var(--colorO) 60%, transparent 60%);
}

/* for circle (set) */
.cell:not(.x).circle {
	background: radial-gradient(var(--colorO-set) 60%, transparent 60%);
}

/* Styling for winning message */

.winning-message {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--color-set);
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 5rem;
	font-family: 'Courier New', Courier, monospace;
	flex-direction: column;
}

/* hovering effect added */

.winning-message button {
	border-radius: 10px;
	font-size: 3rem;
	background-color: white; 
	/* background-color: black; */
	border: 1px solid var(--color-set);
	padding: .25em .5em;
	cursor: pointer;
}

.winning-message button:hover {
	background-color: var(--color-set);
	color: white;
	border-color: white;
}


/* Way elements are drawn within winning message? */

.winning-message.show {
	display: flex;
}

/* EOL? */